In [1]:
%pip install pandas 
%pip install mysql-connector-python
%pip install decouple
%pip install pymysql sqlalchemy
%pip install python-dotenv
%pip install numpy
%pip install plotly

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: decouple in /opt/anaconda3/lib/python3.12/site-packages (0.0.7)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in /opt/anaconda3/lib/python3.12/site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.12/site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from plotly) (24.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os

import pandas as pd
import numpy as np


from sqlalchemy import create_engine
from dotenv import load_dotenv
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import MultipleLocator

import plotly.express as px
import plotly.graph_objects as go

import scipy.stats as stats
from scipy.stats import zscore


import plotly.express as px
import pandas as pd

import logging

In [3]:
logging.basicConfig(
    level=logging.INFO,  
    format='%(asctime)s - %(levelname)s - %(message)s',  # Log message format
    # filename='app.log'  # Log to a file (optional)
)

In [4]:
class DataLoader:
    def __init__(self, raw_data):
        self.raw_data = raw_data

    def read_data(self):
        """
        handling file existence, empty dataset, and parsing errors
        """
        try:
            return pd.read_csv(self.raw_data, encoding="ISO-8859-1", engine='python')
            logging.info("read the dataset successfully")
        except FileNotFoundError:
            logging.error("Error: The file was not found.")
        except pd.errors.EmptyDataError:
            logging.error("Error: The file is empty.")
        except pd.errors.ParserError:
            logging.error("Error: The file could not be parsed.")

In [5]:
class DataCleaner:
    def __init__(self, raw_data):
        self.raw_data = raw_data


    def percentage_of_rows_with_missing_values(self):
        try:
            rows_with_missing = self.raw_data.isnull().any(axis=1).sum()
            total_rows = len(self.raw_data)
            percentage = (rows_with_missing / total_rows) * 100
            logging.info(f"Successfully got the percentage, {percentage}")
        except Exception as e:
            logging.error(f"Failed to get the percentage, {e}")


    def percentage_of_duplicate_rows(self):
        try:
            total_rows = len(self.raw_data)
            duplicate_rows = self.raw_data.duplicated().sum()
            duplicate_percentage = (duplicate_rows / total_rows) * 100
            logging.info(f"Successfully got the percentage, {duplicate_percentage}")
        except Exception as e:
            logging.error(f"Failed to get the percentage, {e}")


    def rename_countries(self):
        country_name = {
            'EIRE':'Ireland',
            'European Community':'European Union',
            'RSA': 'South Africa'
        }
        
        try:
            self.raw_data.rename(columns=country_name, inplace=True)
            logging.info("Successfully renamed country names")
        except Exception as e:
            logging.error(f"Failed to rename country names, {e}")

In [6]:
if __name__ == "__main__":
    raw_dataset = '../dataset/raw/data.csv'

In [7]:
    loader = DataLoader(raw_dataset)

In [8]:
    data = loader.read_data()

In [9]:
    data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396681 entries, 0 to 396680
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    396681 non-null  object
 1   StockCode    396681 non-null  object
 2   Description  396681 non-null  object
 3   Quantity     396681 non-null  float64
 4   InvoiceDate  396681 non-null  object
 5   UnitPrice    396681 non-null  float64
 6   CustomerID   396681 non-null  float64
 7   Country      396681 non-null  object
dtypes: float64(3), object(5)
memory usage: 24.2+ MB

In [10]:
    data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [11]:
    print(data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A                           WHITE META       6.0
1         536365     71053                  WHITE METAL LANTERN       6.0
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER       8.0
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0
...          ...       ...                                  ...       ...
396676    581587     22613          PACK OF 20 SPACEBOY NAPKINS      12.0
396677    581587     22899         CHILDREN'S APRON DOLLY GIRL        6.0
396678    581587     23254        CHILDRENS CUTLERY DOLLY GIRL        4.0
396679    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE       4.0
396680    581587     22138        BAKING SET 9 PIECE RETROSPOT        3.0

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-01-12 08:26:00       2.55     17850.0  United Kingdom
1       2010-01-12 08:26:00       3.39     17850.0  United Kingdom
2       2010-01-12 08:26:00       2.75     17850.0  United Kingdom
3       2010-01-12 08:26:00       3.39     17850.0  United Kingdom
4       2010-01-12 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
396676  2011-09-12 12:50:00       0.85     12680.0          France
396677  2011-09-12 12:50:00       2.10     12680.0          France
396678  2011-09-12 12:50:00       4.15     12680.0          France
396679  2011-09-12 12:50:00       4.15     12680.0          France
396680  2011-09-12 12:50:00       4.95     12680.0          France

[396681 rows x 8 columns]

In [12]:
    cleaner = DataCleaner(data)

# Percentage of rows with missing values
There are no rows with missing values

In [14]:
    cleaner.percentage_of_rows_with_missing_values()

2025-03-16 12:58:29,954 - INFO - Successfully got the percentage, 0.0

In [15]:
    data['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)

# Percentage of duplicate rows
There are no duplicate rows

In [17]:
    cleaner.percentage_of_duplicate_rows()

2025-03-16 12:58:30,137 - INFO - Successfully got the percentage, 0.0

In [18]:
    cleaner.rename_countries()

2025-03-16 12:58:30,140 - INFO - Successfully renamed country names

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Saudi Arabia', 'Czech Republic', 'Canada',
       'Unspecified', 'Brazil', 'USA', 'European Community', 'Bahrain',
       'Malta', 'RSA'], dtype=object)